.wrapper {
	height: 100%;
}

.slider {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

	&-wrapper {
		position: relative;
		width: 360px;
		height: 250px;
	}

	&-inner-block {
		position: relative;
		margin: 0 auto;
		width: 300px;
		height: 200px;
		overflow: hidden;
	}

	&-list {
		:after {
			display: block;
			content: "";
			clear: both;
		}
	}

	&-item {
		float: left;
		position: absolute;
		width: 300px;
		height: 200px;
		background-color: #c5c5cb;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #000;
	}

	&-button {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 36%;
		border: 0 none;
		font-size: 0;
		color: transparent;
		cursor: pointer;
		background: none;
		&:after {
			content: '';
			position: absolute;
			width: 4px;
			height: 13px;
			background-color: #000;
		}
		&:before {
			content: '';
			position: absolute;
			width: 4px;
			height: 13px;
			background-color: #000;
    }
    &.active {
      &:after {
        background-color: rgba(0, 0, 0, .3)
      }
      &:before {
        background-color: rgba(0, 0, 0, .3)
      }
    }
	}

	&-button--prev {
		left: 0;
		&:after {
			left: 30%;
			bottom: 4px;
			transform: skew(41deg,0deg);
		}
		&:before {
			left: 30%;
			top: 0;
			transform: skew(-41deg,0deg);
		}
	}

	&-button--next {
		right: 0;
		&:after {
			right: 30%;
			bottom: 4px;
			transform: skew(-41deg,0deg);
		}
		&:before {
			right: 30%;
			top: 0;
			transform: skew(41deg,0deg);
		}
	}

	&-pagination {
		text-align: center;
		.pagination-bullet {
			display: inline-block;
			width: 7px;
			height: 7px;
			border-radius: 50%;
      background-color: #000;
      font-size: 0;
      color: transparent;
      line-height: 0;
			&.active {
				background-color: #ac0000;
      }
      & ~ .pagination-bullet {
        margin-left: 5px;
      }
		}
	}

	&-button-play {
		margin-top: 15px;
		text-align: center;
		.button-auto-play {
			background: url("../img/btn_player_100.png") no-repeat 0 0;
			font-size: 0;
			color: transparent;
			&:hover,
			&.is-active {
				background-position-y: -19px;
			}
		}
		.button-start {
			width: 13px;
			height: 19px;
			background-position-x: -53px;
		}
		.button-stop {
			margin-left: 5px;
			width: 14px;
			height: 19px;
			background-position-x: -29px;
		}
	}
}